.section-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  min-height: calc(100vh - var(--nav-height));
}

.profile-background {
  width: 100%;
  height: 300px;
  background-image: url("../../assets/profile-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-container {
  width: 100%;
  position: relative;
  margin-top: -100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.profile-title {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: var(--primary-color);
}

.profile-subtitle {
  font-size: 20px;
  color: #b3b3b3;
}

.profile-fav-title {
  width: 100%;
  padding: 100px 0 0 100px;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.profile-fav-recipes.meals-list {
  margin: 0px 0px;
  padding: 30px 100px;
  width: 100%;
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  justify-content: center;
}

.profile-logout-button {
  margin: 50px 0;
  width: 100px;
  height: 50px;
  background-color: var(--third-color);
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.profile-logout-button:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: var(--third-color);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

.fav-recipes-no-recipes {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fav-recipes-no-recipes p {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  color: #999;
  text-align: center;
}

@media (max-width: 1025px) {
  .profile-background {
    height: 250px;
  }
  .profile-picture {
    width: 120px;
    height: 120px;
  }

  .profile-fav-title {
    padding: 30px 0 0 100px;
    font-size: 23px;
  }

  .profile-logout-button {
    margin: 30px 0;
  }
}

@media (max-width: 768px) {
  .profile-background {
    height: 200px;
  }

  .profile-container {
    margin-top: -90px;
  }

  .profile-img-error {
    padding-top: 60px;
    height: 90px;
  }

  .profile-title {
    font-size: 30px;
  }

  .profile-fav-title {
    padding: 20px 0 0 0;
    text-align: center;
    font-size: 20px;
  }

  .profile-fav-recipes.meals-list {
    padding: 30px 30px;
  }

  .profile-logout-button {
    margin: 20px 0;
    height: 40px;
  }
}

@media (max-width: 481px) {
  .section-profile {
    padding-bottom: var(--nav-height);
  }
}
