.article-mini-img {
  width: 100%;
  min-height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.article-mini-info {
  position: relative;
  height: 40%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.article-mini-info::after {
  position: absolute;
  display: block;
  padding: 2px 5px 5px 20px;
  width: fit-content;
  bottom: 2px;
  right: 25px;
  background-color: #fff;
  font-weight: 700;
  content: "read more...";
}

.article-mini-title {
  margin: 15px 0;
  height: 20%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.article-mini-text {
  margin: 0 25px 0 25px;
  height: 80%;
  overflow: hidden;
  border-bottom: 1px solid var(--primary-color);
}

.article-mini-footer {
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  flex-grow: 1;
  background-color: var(--primary-color-transparent);
}

.article-mini-author {
  display: flex;
  align-items: center;
}

.article-mini-author-img {
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-articles-container {
  padding: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  justify-content: center;
}

.blog-article {
  position: relative;
  margin: calc(10% / 6);
  width: 30%;
  min-width: 278px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 1px hsl(108, 9%, 50%);
  cursor: pointer;
}

.blog-article:hover {
  box-shadow: 0 0 15px 3px hsl(108, 9%, 40%);
}

.blog-article:hover::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  content: "Read more";
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 40px;
  color: white;
  padding-top: 100px;
}

.article-new {
  padding: 15px 5px;
  position: absolute;
  top: 0;
  left: 30px;
  font-weight: 700;
  color: var(--third-color);
  background-color: rgb(176, 226, 159);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 1025px) {
  .blog-articles-container {
    padding: 30px;
  }

  .blog-article {
    margin: calc(10% / 4);
    width: 45%;
  }
}

@media (max-width: 768px) {
  .blog-article {
    margin: 5%;
    width: 95%;
  }
}
