.recipe-section {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  min-height: calc(100vh - var(--nav-height));
  overflow-y: hidden;
}

.recipe-wrapper {
  width: 100%;
  padding-top: 0px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.recipe-title {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 400;
  order: 1;
  text-align: center;
}

.recipe-subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 200;
  order: 1;
  text-align: center;
}

.recipe-rest {
  width: 100%;
  height: 530px;
  display: flex;
}

.recipe-img-container {
  display: flex;
  justify-content: center;
  min-width: 50%;
  max-width: 50%;
  overflow: hidden;
}

.recipe-img {
  height: 100%;
  object-fit: cover;
}

.recipe-detail {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 0 40px;
  padding: 10px 0;
  min-width: 30%;
  height: 100%;
  border-top: 1px solid var(--second-color);
  border-bottom: 1px solid var(--second-color);
  overflow-y: hidden;
}

.recipe-detail-title {
  display: flex;
  margin: 5px 0 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.recipe-instruction {
  margin-top: 20px;
}

.recipe-steps,
.recipe-ingredients {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.recipe-step {
  margin: 3px 0;
}

.recipe-step::before,
.recipe-ingredient::before {
  display: inline-block;
  content: "";
  -webkit-border-radius: 0.375rem;
  border-radius: 0.375rem;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--primary-color);
}

.recipe-ingredient {
  margin-left: 1em;
  margin: 3px 0;
}

@media (max-width: 1025px) {
  .recipe-section {
    align-items: flex-end;
  }

  .recipe-wrapper {
    padding-top: 40px;
  }

  .recipe-rest {
    height: 300px;
  }

  .recipe-title {
    margin-top: 30px;
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  /*   .recipe-section {
    margin-top: var(--nav-height);
  } */

  .recipe-wrapper {
    padding-top: 0px;
  }

  .recipe-rest {
    margin-top: 0;
    flex-direction: column;
    height: auto;
  }

  .recipe-img-container {
    min-width: 100%;
    max-width: 100%;
    order: -1;
  }

  .recipe-detail {
    padding: 0 20px;
    margin: 5px 0;
    width: 100%;
    height: 100%;
  }

  .recipe-steps,
  .recipe-ingredients {
    padding-bottom: 10px;
  }

  .recipe-title {
    margin-top: 10px;
    padding: 0 15px;
    font-size: 30px;
    order: -1;
  }

  .recipe-subtitle {
    font-size: 20px;
    order: -1;
  }
}

@media (max-width: 481px) {
  .recipe-section {
    padding-bottom: var(--nav-height);
  }

  .recipe-wrapper {
    padding-bottom: 0;
  }

  .recipe-title {
    padding: 0 15px;
    font-size: 20px;
  }

  .recipe-subtitle {
    margin-bottom: 10px;
    font-size: 15px;
  }

  .recipe-img-container {
    max-height: 200px;
  }

  .recipe-img {
    width: 100%;
    height: auto;
    /* object-fit: contain; */
  }

  .recipe-detail {
    padding: 0 20px;
    margin: 0 0;
    width: 100%;
    height: 100%;
  }
}

@media (orientation: portrait) {
  .recipe-section {
    align-items: center;
  }
}
