.comment-counter {
  width: fit-content;
  margin: 10px;
  padding: 0 10px 0 0;
  font-size: 20px;
  border-bottom: 1px solid var(--primary-color);
}

.comment-counter span {
  margin: 0 5px 0 10px;
  font-weight: 800;
}

.comments-wrapper {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}

.comment-single {
  position: relative;
  margin-bottom: 20px;
  padding: 30px;
  background-color: var(--primary-color-transparent);
  border-radius: 10px;
  box-shadow: 0 0 6px 0.3px rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  font-size: 20px;
}

.comment-single.text-align-center {
  text-align: center;
}

.comment-author {
  display: flex;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: 800;
}

.comment-profile-img {
  margin-right: 10px;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
}

.comment-profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-profile-info .comment-date {
  font-size: 1rem;
  font-weight: 300;
  padding-right: 10px;
}

.comment-text {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

@media (max-width: 1025px) {
  .comments-wrapper {
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .comment-counter {
    margin: 0;
    font-size: 15px;
  }

  .comments-wrapper {
    padding: 10px 10px;
  }

  .comment-single {
    margin-bottom: 10px;
    padding: 15px;
  }

  .comment-author {
    padding-bottom: 15px;
  }

  .comment-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }

  .comment-user {
    font-size: 14px;
  }

  .comment-profile-info .comment-date {
    font-size: 13px;
  }

  .comment-text {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 15px;
  }
}

@media (max-width: 481px) {
  .comments-wrapper {
    padding: 10px 0;
  }

  .comment-single {
    margin-bottom: 5px;
    padding: 10px;
  }

  .comment-author {
    padding-bottom: 10px;
  }

  .comment-text {
    font-size: 13px;
  }
}
