.button-next {
  width: 100%;
  position: relative;
  margin-top: 10px;
  padding: 15px 0;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
}

.button-next a {
  width: 100%;
}

.button-next:hover {
  background-color: var(--primary-color);
  transition: 0.2s;
}

.button-next-svg {
  width: 100%;
  fill: var(--primary-color);
}

.button-next:hover .button-next-svg {
  fill: var(--third-color);
  opacity: 0%;
}

.button-next .button-next-text {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--third-color);
  stroke: none;
  opacity: 0;
}

.button-next:hover .button-next-text {
  opacity: 100%;
}
